.relative {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.flex {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.space-x-4 {
    gap: 10px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button img {
    width: 20px;
    height: 20px;
}

button:hover img {
    transform: scale(1.1);
}

.absolute {
    position: absolute;
    z-index: 10;
}

.left-0 {
    left: 10px;
}

.right-0 {
    right: 10px;
}

.transform {
    transform: translateY(-50%);
}
