@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
    background-color: black;
    @apply bg-white dark:bg-black text-gray-900 dark:text-gray-100 transition-colors duration-300;
}

.movie-card {
    width: 150px;
    flex-shrink: 0;
    transition: transform 0.3s;
}
.movie-card img {
    width: auto;
    height: 100px;
    border-radius: 8px;
}
.menu-component {
    background-color: #323232;
    width: 80%;
    margin-left: 10%;
    /*margin-top: 10%;*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 1400px;
}

.main-component {
    display: flex;
    /*background-color: #414141;*/
    width: 80vw;
    margin-left: 10%;
    margin-top: 1%;
 }
/*.menus-component{*/
/*    background-color: #323232;*/
/*    margin-left: 10%;*/
/*    margin-top: 10%;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
/*    padding: 20px;*/
/*}*/