@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
.menuComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.menuComponent-header {
    /*background-color: #61dafb;*/
    width: 100%;
    max-width: 1200px;
    border: 2px solid gray;
    margin: 20px 0;
    padding: 10px;
    box-sizing: border-box;
}
.kinoCove{
    /* KinoCove */
    width: 136px;
    height: 62px;
    font-family: 'Inknut Antiqua', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 62px;
    color: #000000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 1%;
}

.menuLogo-form {
    /*Лого, текст лого, інпут, кнопка */
    /*justify-content: space-between;*/
    display: flex;
    align-items: center;
    background-color: #056194;
    /*width: 100%;*/
    /*height: 100%;*/
    max-width: 1200px;
    border: 2px solid gray;
    box-sizing: border-box;

}

.menuLogo-form input {
    width: 430%;
    height: 3em;
    box-sizing: border-box;
    margin-left: 30%;
    max-width: 1440px;
    background-color: #2D2D2D;

}
.menuLogo-form button{

}
.menuLogo-form img{
    width: 4vw;
    margin-left: 2%;
    margin-top: -2%;
}
/* KinoCove */


.menuNavig {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    max-width: 1200px;
    padding: 0;
    margin: 20px 0;
}

.menuNavig li a {
    text-decoration: none;
    color: purple;
    font-weight: bold;
}

.menuNavig li a:hover {
    text-decoration: underline;
}