.movie-card {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    text-align: center;
    padding: 5px;
    background-color: #1e1e1e;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.movie-card p {
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
}
